.element__button-delete {
  background-image: url("../../../images/trash.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 22px;
  height: 19px;
  cursor: pointer;
  border: none;
  position: absolute;
  filter: drop-shadow(1px 1px 1px black);
  top: 20px;
  right: 16px;
}

.element__button-delete:hover {
  opacity: 0.5;
  cursor: pointer;
}
