.elements {
  display: grid;
  grid-template-columns: repeat(3, minmax(218px, 1fr));
  grid-column-gap: 18px;
  grid-row-gap: 21px;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

