.element {
  position: relative;
  width: 282px;
  min-height: 361px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr min-content;
  grid-template-areas:
    "pic pic"
    "title like";
}


