@import url(./vendor/normalize.css);

@import url(./vendor/fonts/fonts.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);

@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/main/main.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__button/profile__button.css);
@import url(./blocks/profile/__button/_type/profile__button_type_edit.css);
@import url(./blocks/profile/__button/_type/profile__button_type_add.css);

@import url(./blocks/button/button.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__picture/element__picture.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like/_clicked/element__like_clicked.css);
@import url(./blocks/element/__button/element__button-delete.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_content_image/popup_content_image.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/__submit-btn/popup__submit-btn.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__image-box/popup__image-box.css);
@import url(./blocks/popup/__text/_type_error/popup__text_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_is-active/popup__input-error_is-active.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__figure/popup__figure.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/__input-error/popup__input-error.css);

@import url(./blocks/element/__count/element__count.css);
@import url(./blocks/element/__group/element__group.css);


@import url(./blocks/profile/__avatar-edit/profile__avatar-edit.css);
@import url(./blocks/profile/__avatar-area/profile__avatar-area.css);


.authorization-form__button {
    width: 100%;
    height: 50px;
    margin: 186px 0 15px;
    color: black;
    background-color: #fff;
    border-radius: 2px;
    border: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .authorization-form__button:hover {
    background: #ffffff;
    opacity: 0.85;
  }

  .authorization-form__input {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    border: none;
    border-bottom: 2px solid #cccccc;
    background-color: black;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 13px;
    margin-bottom: 30px;
    outline: none;
  }

  .authorization-form {
    display: flex;
    flex-direction: column;
  }

  .authorization-form {
    display: flex;
    flex-direction: column;
  }

  .authorization {
    max-width: 358px;
    margin: 0 auto;
  }
  .authorization h1 {
    padding: 60px 0 50px;
    margin: 0;
    font-family: "Inter";
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }

  .header__button {
    width: 100%;
    background-color: transparent;
    color: #a9a9a9;
    border: 0;
    padding: 0;
    cursor: pointer;
    font-family: "Inter";
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    transition: 0.2s;
  }
  
  .header__button {
    opacity: 0.6;
  }

  .header__link {
    text-decoration: none;
    color: #fff;
    font-family: "Inter";
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    transition: 0.2s;
  }
  
  .header__link:hover {
    opacity: 0.6;
  }

  .header__user-email {
    margin: 0;
    font-family: "Inter";
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    white-space: nowrap;
    text-align: right;
    color: #ffffff;
  }

  .header__user-info {
    display: flex;
    gap: 24px;
  }

  .popup__auth-image {
    display: block;
    width: 120px;
    height: 120px;
    margin: 26px auto 32px;
  }

  .popup__title_auth {
    text-align: center;
    margin-bottom: 23px;
  }